@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Shared.Application.Configuration.Models
@inject IOptions<HomeConfig> HomeConfig
@inject IStringLocalizer<I18NResource> Localizer

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - @Localizer["AppName"]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <script type="module" src="https://js.arcgis.com/calcite-components/2.9.0/calcite.esm.js" integrity="sha384-dzeYJWBt4WjebhFiK/tWUzSkIn5pP9iI1MtAbnaVJ5+5EqA8oPmXfkF2DNlyfTld" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/2.9.0/calcite.css"/>
</head>

<body>
  <calcite-shell>
    <calcite-navigation slot="header">
      <calcite-navigation-logo slot="logo" heading="Utconnect" thumbnail="@Url.Content("~/assets/images/logo.png")"
                               href="@HomeConfig.Value.Url">
      </calcite-navigation-logo>

      <partial name="_LoginPartial"/>
    </calcite-navigation>

    <calcite-panel>
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </calcite-panel>

    <calcite-shell-panel slot="panel-bottom">
      <footer class="border-top footer text-muted">
        <div class="container">
          &copy; 2024 - @Localizer["AppName"]
        </div>
      </footer>
    </calcite-shell-panel>
  </calcite-shell>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>