@page
@inject IStringLocalizer<I18NResource> Localizer
@using IdentityProvider
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@model ChangePasswordModel
@{
  ViewData["Title"] = Localizer["ChangePassword"];
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage"/>
<div>
  <div class="col-md-6">
    <form id="change-password-form" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
      <div>
        <calcite-label>
          @Localizer["CurrentPassword"]
          <calcite-input name="Input.OldPassword" scale="l" value="@Model.Input?.OldPassword" type="password" required min-length="8"></calcite-input>
        </calcite-label>
        <span asp-validation-for="Input!.OldPassword" class="text-danger"></span>
      </div>
      <div>
        <calcite-label>
          @Localizer["NewPassword"]
          <calcite-input name="Input.NewPassword" scale="l" value="@Model.Input?.NewPassword" type="password" required></calcite-input>
        </calcite-label>
        <span asp-validation-for="Input!.NewPassword" class="text-danger"></span>
      </div>
      <div>
        <calcite-label>
          @Localizer["ConfirmNewPassword"]
          <calcite-input name="Input.ConfirmPassword" scale="l" value="@Model.Input?.ConfirmPassword" type="password" required></calcite-input>
        </calcite-label>
        <span asp-validation-for="Input!.ConfirmPassword" class="text-danger"></span>
      </div>
      <calcite-button scale="l" width="full" type="submit">@Localizer["UpdatePassword"]</calcite-button>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}