@page
@using IdentityProvider
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<I18NResource> Localizer
@model IndexModel
@{
  ViewData["Title"] = Localizer["Profile"];
  ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage"/>
<div>
  <div class="col-md-6">
    <form id="profile-form" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
      <div>
        <calcite-label>
          @Localizer["EmailControlName"]
          <calcite-input name="Username" scale="l" value="@Model.Username" disabled></calcite-input>
        </calcite-label>
      </div>
      <div>
        <calcite-label>
          @Localizer["PhoneNumber"]
          <calcite-input name="Input.PhoneNumber" scale="l" placeholder="0123456789"></calcite-input>
        </calcite-label>
        <span asp-validation-for="Input!.PhoneNumber" class="text-danger"></span>
      </div>
      <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Save"]</button>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}