@page
@using IdentityProvider
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<I18NResource> Localizer
@model LoginModel

@{
  ViewData["Title"] = Localizer["Login"];
}

<div style="display: flex; justify-content: center" class="mt-3">
  <div style="width: 50%">
    <section>
      <form id="account" method="post">
        <h2>@ViewData["Title"]</h2>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
          <calcite-label>
            @Localizer["EmailControlName"]
            <calcite-input name="Input.Email" scale="l" autocomplete="username" placeholder="name@example.com"></calcite-input>
          </calcite-label>
          <span asp-validation-for="Input!.Email" class="text-danger"></span>
        </div>
        <div>
          <calcite-label>
            @Localizer["Password"]
            <calcite-input name="Input.Password" scale="l" autocomplete="current-password" placeholder="password" type="password"></calcite-input>
          </calcite-label>
          <span asp-validation-for="Input!.Password" class="text-danger"></span>
        </div>
        <div>
          <calcite-label layout="inline">
            <calcite-checkbox name="Input.RememberMe" scale="l"></calcite-checkbox>
            @Localizer["RememberMeControllerName"]
          </calcite-label>
        </div>
        <div>
          <calcite-button kind="brand" scale="l" type="submit" width="full">@Localizer["Login"]</calcite-button>
        </div>
        <div>
          <p>
            <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["ForgotPassword"]</a>
          </p>
        </div>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}