@page "/login"
@using IdentityProvider
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<I18NResource> Localizer
@model LoginModel

@{
  Layout = null;
  ViewData["Title"] = Localizer["Login"];
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - @Localizer["AppName"]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <script type="module" src="https://js.arcgis.com/calcite-components/2.9.0/calcite.esm.js" integrity="sha384-dzeYJWBt4WjebhFiK/tWUzSkIn5pP9iI1MtAbnaVJ5+5EqA8oPmXfkF2DNlyfTld" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/2.9.0/calcite.css"/>
</head>

<body>
  <calcite-shell>
    <calcite-panel>
      <main role="main" class="pb-3">
        <div class="d-flex justify-content-center mt-3">
          <div class="w-50">
            <section>
              <form id="account" method="post">
                <h2>@ViewData["Title"]</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div>
                  <calcite-label>
                    @Localizer["EmailControlName"]
                    <calcite-input name="Input.Email" scale="l" autocomplete="username" type="text"></calcite-input>
                  </calcite-label>
                  <span asp-validation-for="Input!.Email" class="text-danger"></span>
                </div>
                <div>
                  <calcite-label>
                    @Localizer["Password"]
                    <calcite-input name="Input.Password" scale="l" autocomplete="current-password" type="password"></calcite-input>
                  </calcite-label>
                  <span asp-validation-for="Input!.Password" class="text-danger"></span>
                </div>
                <div>
                  <calcite-label layout="inline">
                    <calcite-checkbox name="Input.RememberMe" scale="l"></calcite-checkbox>
                    @Localizer["RememberMeControllerName"]
                  </calcite-label>
                </div>
                <div>
                  <calcite-button kind="brand" scale="l" type="submit" width="full">@Localizer["Login"]</calcite-button>
                </div>
                <div>
                  <p>
                    <a asp-page="./ForgotPassword">@Localizer["ForgotPassword"]</a>
                  </p>
                </div>
              </form>
            </section>
          </div>
        </div>
      </main>
    </calcite-panel>
  </calcite-shell>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <partial name="_ValidationScriptsPartial"/>
</body>
</html>